/*--------------------------------------------------------------------------
	Round Top, Right, Bottom, Left corners
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Round Corners
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Give it a Shadow
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Gradient
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Rotate
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Switch Box Model (border-box or content-box)
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Transitions (Delay isn't used here...)
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	3D Button/Bevel Style
	--------------------------------------------------------------------------*/
/* Bevels like a button, but no text shadow */
/* For small, actual buttons (with text shadow) */
/*--------------------------------------------------------------------------
	Utilities
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Config
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Typography
	--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	Body
	--------------------------------------------------------------------------*/
body {
  width: 940px;
  margin: 0 auto;
}
header {
  position: relative;
  height: 100px;
}
header h1 {
  position: absolute;
  top: 50%;
  line-height: 50px;
  font-size: 30px;
  margin-top: -25px;
}
header nav {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25px;
  line-height: 50px;
  text-align: right;
}
header nav li {
  display: inline;
  margin-left: 20px;
}
#content_container h1 {
  font-size: 25px;
  margin: 10px 0;
}
#content_container #bread_crumbs li {
  display: inline;
}
#content_container #bread_crumbs li:not(:last-child):after {
  content: '>';
  margin-left: 5px;
}
#content_container #bread_crumbs li:last-child a {
  color: black;
  text-decoration: none;
}
/*--------------------------------------------------------------------------
	App
	--------------------------------------------------------------------------*/
#app {
  position: relative;
  height: 600px;
  margin-top: 20px;
}
#results_area {
  position: absolute;
  top: 0;
  right: 250px;
  bottom: 0;
  left: 0;
  width: 690px;
}
#results_area .view {
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eee;
}
#map_canvas {
  width: 690px;
  height: 600px;
}
/*--------------------------------------------------------------------------
	Sidebar
	--------------------------------------------------------------------------*/
#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 690px;
  width: 250px;
  overflow-y: auto;
}
#sidebar .handle {
  background: #eee;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
/*--------------------------------------------------------------------------
	View Modes
	--------------------------------------------------------------------------*/
#view_mode_triggers .active a {
  color: green;
}
#view_mode_triggers .inactive a {
  color: #ccc;
}
