/*--------------------------------------------------------------------------
Switch Box Model (border-box or content-box)
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
Round Top, Right, Bottom, Left corners
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
Round Corners
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
Give it a Shadow
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
Gradient
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
Rotate
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
Transitions (Delay isn't used here...)
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
3D Button/Bevel Style
--------------------------------------------------------------------------*/
/* Bevels like a button, but no text shadow */
/* For small, actual buttons (with text shadow) */
/*--------------------------------------------------------------------------
Utilities
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
Config
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
Typography
--------------------------------------------------------------------------*/
html {
  background: #505a5f;
}
a {
  color: #00aeb9;
}
ul {
  list-style-type: none;
}
/*--------------------------------------------------------------------------
Body
--------------------------------------------------------------------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 940px;
  margin: 0 auto 40px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
}
p {
  color: #bdc7cc;
}
header {
  position: relative;
  height: 180px;
}
header h1 {
  position: absolute;
  top: 20px;
  line-height: 50px;
  font-size: 30px;
}
header h1 a {
  text-decoration: none;
  color: white;
  text-indent: -999em;
  display: block;
  background: url(../images/logo.png);
  width: 190px;
  height: 160px;
  position: relative;
  left: -50px;
}
header nav {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25px;
  line-height: 50px;
  text-align: right;
}
header nav li {
  display: inline;
  margin-left: 20px;
  font-weight: 600;
}
header nav li a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 10px 5px;
}
header nav li a:hover, header nav li a.active {
  text-decoration: none;
}
#content_container h1, #content_container h2 {
  color: #fff;
  margin: 10px 0;
}
#content_container h1 {
  font-size: 17px;
}
#content_container h2 {
  opacity: 0.5;
  font-size: 14px;
  margin-top: 0;
}
#content_container p {
  margin: 10px 0;
}
#content_container #bread_crumbs {
  display: none;
}
#content_container #bread_crumbs li {
  display: inline;
}
/*--------------------------------------------------------------------------
App
--------------------------------------------------------------------------*/
#app {
  position: relative;
  margin-top: 20px;
}
#app #results_area {
  width: 670px;
  background: #323c41;
  border-top: 8px solid #8c969b;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  min-height: 600px;
}
#app #map_canvas {
  width: 670px;
  height: 600px;
}
#app #map_view {
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#app.map {
  height: 600px;
}
#app.map #list_view {
  display: none;
}
#app.map #results_area {
  position: absolute;
  top: 0;
  right: 270px;
  bottom: 0;
  left: 0;
}
#app.list #results_area {
  padding-top: 10px;
}
/*--------------------------------------------------------------------------
Sidebar
--------------------------------------------------------------------------*/
#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  left: 700px;
  width: 240px;
  overflow-y: auto;
  background: #323c41;
  padding: 20px;
}
#sidebar .handle {
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  position: relative;
  padding: 0 5px;
  font-size: 14px;
  color: #ff7f00;
}
#sidebar .handle.showing_all:after {
  content: " (Showing All)";
  position: absolute;
  right: 0;
  color: white;
  font-size: 11px;
}
#sidebar .box {
  margin-bottom: 20px;
}
#sidebar .box * {
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.1s;
  -o-transition-property: all;
  -o-transition-duration: 0.1s;
}
#sidebar .box ul {
  list-style: none;
}
#sidebar .box ul li {
  line-height: 23px;
  padding: 0 5px;
  margin-bottom: 4px;
}
#sidebar .box ul li label {
  display: block;
}
#sidebar .box ul li input {
  display: none;
}
#sidebar .box ul li.active {
  background: #00aeb9;
}
#sidebar .box.inactive {
  opacity: 0.5;
}
#sidebar .box.inactive:hover {
  opacity: 0.8;
}
/*--------------------------------------------------------------------------
View Modes
--------------------------------------------------------------------------*/
#view_mode_triggers .active a {
  color: green;
}
#view_mode_triggers .inactive a {
  color: #ccc;
}
/*--------------------------------------------------------------------------
School Items (with accordion discipline header)
--------------------------------------------------------------------------*/
.school {
  position: relative;
  padding-top: 10px;
  width: 290px;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  margin-bottom: 30px;
  line-height: 140%;
}
.school h1 {
  margin: 20px 0;
}
.school h2 {
  font-size: 14px;
  margin-top: 0;
}
.school h3 a {
  font-size: 12px;
  color: #00aeb9;
  text-decoration: none;
  border-bottom: solid 1px #00aeb9;
}
.school .discipline-tags li {
  display: inline;
}
.school .discipline-tags li a {
  display: inline-block;
  padding: 2px 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background: #ff7f00;
  line-height: 15px;
}
