
	@import '_mixins.less';
	@import 'bootstrap/bootstrap.less';

	/*--------------------------------------------------------------------------
	Config
	--------------------------------------------------------------------------*/
	@site_width: 940px;
	@app_height: 600px;
	@sidebar_width: 250px;
	@results_width: @site_width - @sidebar_width;

	// colours
	@bl: #006CC4;
	@rd: #D60404;


	/*--------------------------------------------------------------------------
	Typography
	--------------------------------------------------------------------------*/

	html {
	    font-size: 0.8em;
	}

	/*--------------------------------------------------------------------------
	Body
	--------------------------------------------------------------------------*/
	body {
		width: @site_width;
		margin: 0 auto 40px;
	}
	header {
		position: relative;
		height: 100px;

		h1 {
			position: absolute;
			top: 50%;
			line-height: 50px;
			font-size: 30px;
			margin-top: -25px;
			a {
			    text-decoration: none;
			    color: @bl;
			}
		}

		nav {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -25px;
			line-height: 50px;
			text-align: right;

			li {
				display: inline;
				margin-left: 20px;
				font-weight: 600;
				//text-transform: uppercase;
				font-size: 0.95em;


				a {
				    text-decoration: none;
				    color: @bl;
				    border-bottom: solid 1px lighten(@bl, 55%);

				    &:hover {
						text-decoration: none;
						border-bottom-color: lighten(@bl, 20%);
						color: @bl - #111;
				    }
				}
			}
		}
	}
	#content_container {
		h1 {
			font-size: 25px;
			margin: 10px 0;
		}

		#bread_crumbs {
			li {
				display: inline;
			}
		}
	}

	/*--------------------------------------------------------------------------
	App
	--------------------------------------------------------------------------*/
	#app {
		position: relative;
		height: @app_height;
		margin-top: 20px;
	}
	#results_area {
		position: absolute;
		top: 0;
		right: @sidebar_width;
		bottom: 0;
		left: 0;
		width: @results_width;
		.box-shadow(inset 0 0 1px #333);

		.view {
			position: absolute;
			overflow: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #eee;
		}
	}
	#map_canvas {
		width: @results_width;
		height: @app_height;
	}

	/*--------------------------------------------------------------------------
	Sidebar
	--------------------------------------------------------------------------*/
	#sidebar {
		position: absolute;
		top: 0;
		right: 0;
		left: @results_width;
		width: @sidebar_width;
		overflow-y: auto;

		.handle {
			line-height: 20px;
			margin-bottom: 5px;
			text-indent: 25px;
			color: @rd;
			font-weight: 600;
			position: relative;

			&.showing_all:after {
				content: "(Showing All)";
				position: absolute;
				right: 0;
				color: #ddd;
			}
		}
		.box {
		    margin-bottom: 20px;
		    * {
		    	.transitions (all, 0.1s, ease-in-out);
		    }
		    ul {
				list-style: none;

				li {
				    input[type=checkbox] {
				    	margin-top: -4px;
				    	&:not(:checked) {
				    		opacity: 0;
				    	}
				    }
				}
				&:hover {
					input[type=checkbox] {
				    	&:not(:checked) {
				    		opacity: 1;
				    	}
				    }
				}
		    }
		    &.inactive {
		    	opacity: 0.4;
		    	input[type=checkbox] {
		    		opacity: 0;
		    	}

		    	&:hover {
		    		opacity: 0.8;
		    		input[type=checkbox] {
		    			opacity: 1;
		    		}
		    	}
		    }
		}
	}

	/*--------------------------------------------------------------------------
	View Modes
	--------------------------------------------------------------------------*/
	#view_mode_triggers {
		.active a {
			color: green;
		}
		.inactive a {
			color: #ccc;
		}
	}
